### กลุ่ม Diabetes Health Indicators
1. 6610402205 นายรักษิต รุ่งรัตนไชย หมู่ 1
2. 6610402132 นายบวรรัตน์ ตั้งนรารัชชกิจ หมู่ 1
3. 6610401985 นายไชยวัตน์ หนูวัฒนา หมู่ 1

Link to data: https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

### แหล่งที่มาของข้อมูล
- ได้จากการสำรวจรวบรวมทางโทรศัพท์(BRFSS) ที่ถูกสำรวจเป็นประจำทุกปีของศูนย์ควบคุมโรคติดต่อสหรัฐอเมริกา(CDC) 
การสำรวจรวบรวมคำตอบจากชาวอเมริกันมากกว่า 400,000 คนเกี่ยวกับพฤติกรรมเสี่ยงที่เกี่ยวข้องกับสุขภาพในปี 2015

### รูปแบบการจัดเก็บข้อมูล
ทั้ง 3 ไฟล์จัดเก็บในรูปแบบไฟล์ CSV
- ทุก file มี feature เท่ากันคือ 22 feature

In [1]:
import pandas as pd
diabetes = pd.read_csv("archive/diabetes_binary_health_indicators_BRFSS2015.csv")
print(diabetes.columns) # แสดง feature

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

สามารถแสดงเป็นตารางเพื่อดูโครงสร้างข้อมูลได้

In [2]:
diabetes.head(10) # แสดงตัวอย่างข้อมูล 10 ตัวอย่างแรกจาก file ที่ 1

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
5,0.0,1.0,1.0,1.0,25.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,2.0,0.0,1.0,10.0,6.0,8.0
6,0.0,1.0,0.0,1.0,30.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,3.0,0.0,14.0,0.0,0.0,9.0,6.0,7.0
7,0.0,1.0,1.0,1.0,25.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,0.0,0.0,1.0,0.0,11.0,4.0,4.0
8,1.0,1.0,1.0,1.0,30.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,5.0,30.0,30.0,1.0,0.0,9.0,5.0,1.0
9,0.0,0.0,0.0,1.0,24.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,8.0,4.0,3.0

### จำนวนข้อมูล 
มีข้อมูลทั้งหมด 253,680 ข้อมูล

In [3]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

### สิ่งที่ต้องการทำนาย

- เป็นโรคเบาหวาน
- ไม่เป็นโรคเบาหวาน

In [4]:
diabetes.Diabetes_binary.value_counts()

Diabetes_binary
0.0    218334
1.0     35346
Name: count, dtype: int64

### สิ่งที่ใช้ในการทำนาย

- **Diabetes_binary:** เป็นเบาหวานหรือไม่? `0 ไม่เป็นโรคเบาหวาน`, `1 เป็นโรคเบาหวาน`

- **HighBP:** ความดันเลือดสูงหรือไม่? `0 ความดันเลือดไม่สูง`, `1 ความดันเลือดสูง`

- **HighChol:** คอเลสเตอรอลสูงหรือไม่? `0 คอเลสเตอรอลไม่สูง`, `1 คอเลสเตอรอลสูง`

- **CholCheck:** ตรวจคอเลสเตอรอลในช่วง 5 ปีที่ผ่านมาหรือไม่? `0 ไม่ตรวจ`, `1 ตรวจ`

- **BMI:** มีค่าดัชนีมวลกายเท่าไหร่?

- **Smoker:** ตลอดชีวิตเคยสูบบุหรี่อย่างน้อย 100 มวน (5 กล่อง) หรือไม่? `0 ไม่เคย`, `1 เคย`

- **Stroke:** เป็นโรคหลอดเลือดสมองหรือไม่? `0 ไม่เป็น`, `1 เป็น`

- **HeartDiseaseorAttack:** เป็นโรคหลอดเลือดหัวใจหรือกล้ามเนื้อหัวใจตายหรือไม่? `0 ไม่`, `1 ใช่`

- **PhysActivity:** ออกกำลังกายในช่วง 30 วันที่ผ่านมาหรือไม่? `0 ไม่ได้ออก`, `1 ออก`

- **HvyAlcoholConsump:** ผู้ชายดื่มมากกว่า 14 ครั้งต่อสัปดาห์หรือไม่? ผู้หญิงดื่มมากกว่า 7 ครั้งต่อสัปดาห์หรือไม่? `0 ไม่ใช่`, `1 ใช่`

- **DiffWalk:** มีปัญหาในการเดินหรือขึ้นบันไดหรือไม่? `0 ไม่`, `1 ใช่`

- **Sex:** เพศอะไร? `0 เพศหญิง`, `1 เพศชาย`

- **Age:** อายุเท่าไหร่ แบ่งเป็น 13 ช่วง? `1 อายุ 18-24 ปี`, `2 อายุ 25-29 ปี`, `3 อายุ 30-34 ปี`, ..., `12 อายุ 75-79 ปี`, `13 ตั้งแต่อายุ 80 ปีขึ้นไป`

### ต้องมีการเตรียมหรือประมวลผลข้อมูลส่วนไหนก่อนหรือไม่ เพราะอะไร อย่างไร

ลบ Column ที่มีผลต่อการทำนายน้อยออกไป

In [5]:
diabetes.drop(["Fruits", "Veggies", "AnyHealthcare", "NoDocbcCost", "GenHlth", "MentHlth", "PhysHlth", "Education", "Income"], axis=1, inplace=True)
diabetes.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,HvyAlcoholConsump,DiffWalk,Sex,Age
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0

จากข้อมูลจะเห็นว่าทุกแถวและหลักมีประเภทข้อมูลเป็นจำนวนจริงทั้งหมด ซึ่งจริงๆแล้วไม่ใช่ทุกข้อมูลที่เป็นจำนวนจริง ดังนั้นต้องแปลงประเภทของข้อมูลให้ตรงตามประเภทที่เราต้องการ

In [6]:
for col in diabetes.columns:
    if col != "BMI":
        diabetes[col] = diabetes[col].astype(int)

diabetes.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,HvyAlcoholConsump,DiffWalk,Sex,Age
0,0,1,1,1,40.0,1,0,0,0,0,1,0,9
1,0,0,0,0,25.0,1,0,0,1,0,0,0,7
2,0,1,1,1,28.0,0,0,0,0,0,1,0,9
3,0,1,0,1,27.0,0,0,0,1,0,0,0,11
4,0,1,1,1,24.0,0,0,0,1,0,0,0,11

ตรวจสอบประเภทของข้อมูลทุก Column

In [7]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  int64
 6   Stroke                253680 non-null  int64
 7   HeartDiseaseorAttack  253680 non-null  int64
 8   PhysActivity          253680 non-null  int64
 9   HvyAlcoholConsump     253680 non-null  int64
 10  DiffWalk              253680 non-null  int64
 11  Sex                   253680 non-null  int64
 12  Age                   253680 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 25.2 MB

ตรวจสอบข้อมูลสูญหาย จะเห็นได้ว่าไม่มีการสูญหายของข้อมูลดังนั้นข้อมูลนี้จึงมีความสมบูรณ์ครบถ้วน

In [8]:
diabetes.isnull().sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
HvyAlcoholConsump       0
DiffWalk                0
Sex                     0
Age                     0
dtype: int64