### กลุ่ม Diabetes Health Indicators
1. 6610402205 นายรักษิต รุ่งรัตนไชย หมู่ 1
2. 6610402132 นายบวรรัตน์ ตั้งนรารัชชกิจ หมู่ 1
3. 6610401985 นายไชยวัตน์ หนูวัฒนา หมู่ 1

Link to data: https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

### แหล่งที่มาของข้อมูล
- ได้จากการสำรวจรวบรวมทางโทรศัพท์(BRFSS) ที่ถูกสำรวจเป็นประจำทุกปีของศูนย์ควบคุมโรคติดต่อสหรัฐอเมริกา(CDC) 
การสำรวจรวบรวมคำตอบจากชาวอเมริกันมากกว่า 400,000 คนเกี่ยวกับพฤติกรรมเสี่ยงที่เกี่ยวข้องกับสุขภาพในปี 2015

### รูปแบบการจัดเก็บข้อมูล
ทั้ง 3 ไฟล์จัดเก็บในรูปแบบไฟล์ CSV
- ทุก file มี feature เท่ากันคือ 22 feature

In [7]:
import pandas as pd
diabetes_01 = pd.read_csv("archive/diabetes_012_health_indicators_BRFSS2015.csv")
diabetes_02 = pd.read_csv("archive/diabetes_binary_5050split_health_indicators_BRFSS2015.csv")
diabetes_03 = pd.read_csv("archive/diabetes_binary_health_indicators_BRFSS2015.csv")
print(diabetes_03.columns) # แสดง feature

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

สามารถแสดงเป็นตารางเพื่อดูโครงสร้างข้อมูลได้

In [8]:
diabetes_01.head(10) # แสดงตัวอย่างข้อมูล 10 ตัวอย่างแรกจาก file ที่ 1

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
5,0.0,1.0,1.0,1.0,25.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,2.0,0.0,1.0,10.0,6.0,8.0
6,0.0,1.0,0.0,1.0,30.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,3.0,0.0,14.0,0.0,0.0,9.0,6.0,7.0
7,0.0,1.0,1.0,1.0,25.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,0.0,0.0,1.0,0.0,11.0,4.0,4.0
8,2.0,1.0,1.0,1.0,30.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,5.0,30.0,30.0,1.0,0.0,9.0,5.0,1.0
9,0.0,0.0,0.0,1.0,24.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,8.0,4.0,3.0

### จำนวนข้อมูล 
มีข้อมูลทั้งหมด 578,052 จากทั้ง 3 file ตัวอย่าง

In [9]:
print("จำนวนตัวอย่างรวม: " + str(diabetes_01.shape[0] + diabetes_02.shape[0] + diabetes_03.shape[0]) + " ตัวอย่าง")

จำนวนตัวอย่างรวม: 578052 ตัวอย่าง